<% include partials/header %>

<div class="container">
<h1>collabO</h1>
    <section id="updates">
        <h3>Updates</h3>
        <hr class="line"/>
        <span class="upd">Last Update: 18 hours ago</span>
        <div class="inquiry">
            <p>Jacob completed inquiry #4521 in project Team Project Admin</p>
        </div>
        <div class="inquiry">
            <p>Jacob completed inquiry #4521 in project Team Project Admin</p>
        </div>
    </section>
    <section id="act-proj">
        <h3>Active Project</h3>
        <div class="prjct">
            <p>Team Project Admin</p>
        </div>
    </section>
</div>


<% include partials/footer %>