<% include partials/header %>

<div class="container">
<% include partials/messages %>
<h1>collabO</h1>
    <section class="greybox" id="activeproj">
        <h3>Active Projects</h3>
            <button class="btnlink">
        <a href="/new">Add Project</a>
    </button>
        <hr class="line">
            <% projects.forEach(function(project){ %>
            <button class="bluelink">
                <a href="/p/<%= project._id%>"><%= project.title %></a>
            </button>   
            <% });%>
    </section>
</div>


<% include partials/footer %>