.main {
  width: 93%;
  margin: 50px auto;
  display: flex;
}
.deleteForm {
  display: inline-block;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.container .block {
  display: block;
  margin: 5px 0;
}
/*  TASK LAYOUT   */
.greybox .taskbox {
  background: #ffffff;
  margin: 15px auto;
  border-radius: 5px;
  text-align: center;
  padding: 5px 0 15px;
}
.greybox .taskbox span {
  text-transform: uppercase;
  font-size: 0.76rem;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-family: "SF Mono Regular";
}
.greybox .taskbox .grpAssigned {
  display: inline-block;
}
.greybox .taskbox .assigned {
  background-color: #0084ff;
  text-transform: lowercase;
}
.greybox .taskbox .priority {
  background-color: #ff7b00;
}
#priohigh {
  background-color: #ffe2e2;
  color: red;
}
#priomid {
  color: orange;
}
#priolow {
  color: yellow;
}
.greybox .taskbox .dueDate {
  background-color: #333;
}

/*  New Task Style     */
input[type="checkbox"] {
  width: auto;
}
