@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("https://fonts.googleapis.com/css?family=Asap:400,600&display=swap");
/* string import */
@import "./index.css";
@import "./profile.css";

/* Orig Font */
@font-face {
  font-family: "SF Mono Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SF Mono Regular"),
    url("./fonts/SFMonoRegular.woff") format("woff");
}
@font-face {
  font-family: "eightyshades";
  src: url("fonts/eightyshades.eot");
  src: url("fonts/eightyshades.eot?#iefix") format("embedded-opentype"),
    url("fonts/eightyshades.woff") format("woff"),
    url("fonts/eightyshades.ttf") format("truetype"),
    url("fonts/eightyshades.svg#eightyshades") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Use data attributes for inserting icons */
[data-icon]:before {
  font-family: "eightyshades";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: #666;
}

.sfFont {
  font-family: "SF Mono Regular", sans-serif;
}
.highlight {
  color: var(--blue);
  background-color: #dde6ff;
  padding: 3px;
}
/* Root Colors */
:root {
  --pink: #ff49df;
  --lightgrey: #f7f7f7;
  --blue: #007eff;
  --black: #232323;
}
/* Font Links */
/* Normalize and Config */
body {
  font-family: "Asap", "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  text-transform: capitalize;
  font-weight: lighter;
}
h1 {
  font-size: 1.6em;
  font-weight: 100;
}
h2 {
  font-size: 1.4em;
  font-weight: 100;
}
h3 {
  font-size: 1.25em;
  color: var(--black);
}
h4 {
  font-size: 1.1em;
  color: var(--black);
}
h5 {
  font-size: 0.97em;
  color: var(--black);
}
h6 {
  font-size: 0.85em;
  color: var(--black);
}
p {
  font-size: 0.9em;
  color: #505050;
  margin: 10px 0;
}
a {
  text-decoration: none;
  display: inline-block;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
a.link {
  color: inherit;
}
a:active {
  color: inherit;
}
a:visited {
  color: inherit;
}

a:hover {
  opacity: 0.8;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.timeline {
  position: relative;
  height: 4px;
  width: 4px;
  background-color: #c8d8ff;
  margin-left: 4px;
}
.timelineExtend {
  height: 12px;
  width: 8px;
  background-color: #5c87ff;
  margin-left: 4px;
}
#updateUl {
  font-size: 13px;
  color: var(--black);
  margin: 0;
  padding: 0;
}
#updateUl li {
  background-color: #f2f5ff;
  border: 2px solid#c8d8ff;
}
#updateUl li:hover {
  border: 2px solid#81a5ff;
  cursor: pointer;
}
#updateUl li a {
  width: 100%;
  padding: 5px;
  color: var(--black);
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}
label {
  width: 100%;
  display: block;
  margin: 15px 0 3px;
  font-size: 0.9em;
  color: #404040;
}

input.btnlink:hover {
  opacity: 0.8;
}
textarea {
  font: inherit;
  max-width: 100%;
  max-height: 200px;
  min-height: 4pc;
}
input,
textarea {
  background-color: white;
  border: 1px solid #989898;
  border-radius: 3px;
  padding: 8px;
  font-size: 0.9em;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
input:focus,
textarea:focus {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.09);
}
.btnlink {
  display: inline-block;
  font-family: "SF Mono Regular";
  font-size: 0.7em;
  color: #007eff;
  background: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
}
.bluelink {
  color: white;
  background: #43c2ff;
  border: 1px solid #007ed8;
  border-radius: 3px;
}
.submitBtn {
  padding: 10px;
}
.submitBtn:hover {
  opacity: 0.8;
}
button {
  display: inline-block;
  padding: 0;
}
button a,
button input {
  color: inherit;
  padding: 2px 5px;
  display: inline-block;
}
/*Small Hacks*/
hr.line {
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.fl {
  float: left;
}
.ctr {
  text-align: center;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* https://www.w3schools.com/howto/howto_css_clearfix.asp */

/* Start */
.container {
  position: relative;
  width: 600px;
  margin: 0 auto;
}
nav {
  position: relative !important;
  background-color: #313850;
}
#logged {
  background-color: #394367;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0 10px;
}
nav .navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
nav .navigation a {
  color: white;
}
nav .navigation ul.nav-list {
  display: flex;
  flex-direction: row;
  margin: 0;
}
nav .navigation ul.nav-list li {
  list-style: none;
}
nav .navigation ul.nav-list li a {
  display: inline-block;
  padding: 10px;
  font-size: 0.9em;
}
/* Error handling */
.msg {
  margin: 10px auto;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
}
.err_msg {
  background: #ffe9e2;
  color: #e02c2c;
}
.suc_msg {
  background: #e5f3ff;
  color: #1eace2;
}
.info_msg {
  background: #fff4e8;
  color: #c58800;
}

/* Main CSS */
/* Font for digits */
.digit {
  font-family: "SF Mono Regular";
  font-size: 0.7em;
  color: #007eff;
  padding: 0px 3px;
  border-radius: 3px;
  text-transform: uppercase;
}

.greybox {
  position: relative;
  padding: 15px;
  margin: 10px 0;
  background-color: #f3f3f3;
  border-radius: 5px;
}

.greybox h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
}

/* search members POPUP style */
.loading {
  background-color: #ffffff;
  background-image: url("/images/loader.gif");
  background-size: 15px 15px;
  background-position: right center;
  background-repeat: no-repeat;
  background-origin: content-box;
}
#assign:focus {
  box-shadow: none;
}
#newMembers img {
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  line-height: 33px;
  vertical-align: bottom;
  border-radius: 2px;
  padding: 1px;
  margin-right: 5px;
}
#newMembers .memList {
  background-color: white;
  padding: 8px;
  border-radius: 3px;
  margin: 5px 0;
  display: block;
}

#membersList li {
  padding: 8px;
  font-size: 14px;
  color: #444;
}
#membersList li img {
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  line-height: 33px;
  vertical-align: bottom;
  border-radius: 2px;
  padding: 1px;
  margin-right: 5px;
}
#membersList li:hover {
  background-color: var(--blue);
  color: white;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
#membersList span {
  display: inline-block;
  padding: 8px;
  color: #bbb;
  font-size: 14px;
}
#memberPopup {
  overflow: hidden;
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}
.submit {
  padding: 5px;
  cursor: pointer;
}
