<% include ../partials/header %>

<div class="container">
    <div class="greybox">
        <h3>Project Not Found</h3>
        <hr class="line">
        <p>The project with ID <em class="sfFont"><%= projectID %></em> could not be retrieved. Refer to the following instructions for help.</p>
        <hr class="line">
        <h4>What to do next?</h4>
        <a href="javascript:history.back()" class="btnlink">Go Back</a>
        <a href="/" class="btnlink">Go Home</a>
    </div>
</div>


<% include ../partials/footer %>