<% include ../partials/header %>

<div class="container">
    <h1>Project Post</h1>
    <hr class="line">
    <form action="/p/<%= project._id %>?_method=PUT" method="POST">
      <div class="block">
          <label for="name">Title</label>
          <input type="text" id="title" name="project[title]" aria-describedby="title" value="<%= project.title %>">
      </div>
      <div class="block">
        <label for="description">Description:</label>
        <textarea type="text" id="description" name="project[description]"><%= project.description %></textarea>
      </div>
      <button>Submit</button>
    </form>
</div>

<% include ../partials/footer %>
