<% include ../partials/header %>

<div class="container">
  <div class="greybox">
    <h3>New Project</h3>
    <hr class="line">
    <form action="/p/" method="POST">
      <div class="block">
          <label for="title">Project Name</label>
          <input type="text" id="title" name="title" aria-describedby="title" placeholder="Enter new project name" autofocus>
      </div>
      <div class="block">
        <label for="description">Description:</label>
        <textarea type="text" id="description" name="description" rows="4"></textarea>
      </div>
      <button class="btnlink submitBtn">Submit</button>
    </form>
  </div>
</div>

<% include ../partials/footer %>