<% include ../partials/header %>

<% include ../partials/messages %>
 
<section class="greybox">
    <h1>Project Page Information/ Updates - ID <%= project._id %></h1>
    <hr class="line"/>
    <h2><%= project.title %></h2>
    <p><%= project.description %></p>
</section>

<% include ../partials/footer %>